*{
	font-family:helvetica ;
}

h2{
	color: black;
}

span{
	color: black;
	font-size: 12px;
	margin-bottom: 5px;
}

button{
	color: black;
}

main{
	margin: 20px;
}

section	{
	color: gray;
	border: 2px solid gray;
	padding: 10px;
	margin: 15px;
}

nav{
	background-color: black;
	color: white;
	padding: 20px;
	margin: 20 px;
}

footer{
	margin: 10px;
}

.like{
	background-color: lightblue;
}

.dislike{
	background-color: steelblue;
}